body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

center {
    margin-top: 50px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

strong {
    font-weight: bold;
    color: #000;
}

em {
    font-style: italic;
    color: #555;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 0.8em;
}

.center-line {
    text-decoration: line-through;
    color: #00f;
}

.underlined {
    text-decoration: underline;
    color: #f00;
}

sub {
    font-size: 0.8em;
    vertical-align: sub;
}

sup {
    font-size: 0.8em;
    vertical-align: super;
}
.text-box {
    padding: 30px ; 
    background-color: #fdeafb; 
    border-radius: 300px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 200px 250px;
}
.text-box:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}